<div id="<%= dom_id event %>">
  <p>
    <strong>Starts at:</strong>
    <%= event.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

</div>
